{% from "shuup/admin/macros/general.jinja" import content_block %}
{% from "shuup/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}
{% set goals_form = form["sustainability goals"] %}

{% call content_block(_("Sustainability Goals"), icon="fa fa-globe") %}
    {{ bs3.field(goals_form.name) }}
    <div class="form-divider"></div>
    {{ render_monolingual_fields(goals_form, exclude=["name"]) }}
{% endcall %}
