{% from "shuup/admin/macros/general.jinja" import content_block %}
{% set shop_product_form = form[form_def.name] %}
{% set shop_name = shop_product_form.instance.shop.name %}
{% set project_extra_form = form["project_extra"] %}


<div class="title sub-title">
    <h2 class="block-subtitle d-flex"><i class="fa fa-home"></i>{{ shop_name }}</h2>
</div>
<div class="row content">
    <div class="col-lg-12">
        {{ bs3.field(project_extra_form.goal_amount) }}
        {{ bs3.field(project_extra_form.lives_impacted) }}
        {{ bs3.field(project_extra_form.enable_receipting) }}
        {{ bs3.field(project_extra_form.donation_url) }}
        {{ bs3.field(shop_product_form.supplier_price) }}
        {{ bs3.field(shop_product_form.discount_amount) }}
        {{ bs3.field(shop_product_form.limit_shipping_methods) }}
        {{ bs3.field(shop_product_form.shipping_methods) }}
        {{ bs3.field(shop_product_form.primary_category) }}
        {{ bs3.field(shop_product_form.categories) }}
        {{ bs3.field(shop_product_form.visibility) }}
    </div>
</div>
