{% extends "shuup/front/base.jinja" %}
{% from "shuup/front/macros/general.jinja" import render_field %}

{% block title %}{% trans %}Reset password{% endtrans %}{% endblock %}

{% block content %}
    <div class="message-box">
        <h1 class="mt-0 mb-3">{{ _("Reset your password") }}</h1>
        <p class="mb-5">{{ _("Enter the email address associated to your account") }}</p>
        <p>
            <h2 id="error" class="h6 text-danger" role="alert"></h2>

            {{ render_field(form.email, render_label=True) }}

            <div>
                <button type="button" class="btn btn-primary" id="btn-reset-pwd">
                    {{ _("Reset Password") }}
                </button>
            </div>

            <h2 id="success" class="h6 text-success mt-3" role="alert"></h2>
        </p>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        if (window.firebase) {
            $("#btn-reset-pwd").click(function (evt) {
                $(evt.currentTarget).prop("disabled", "disabled");

                var email = $("#{{ form.email.auto_id }}").val();
                $("#error").html("");
                $("#success").html("");

                firebase.auth().sendPasswordResetEmail(email)
                .then(function (result) {
                    $("#success").html("{{ _('Password reset email sent!') }}");
                })
                .catch(function (error) {
                    $("#error").html(error.message);
                    $(evt.currentTarget).prop("disabled", null);
                });
            });
        }
    </script>
{% endblock %}
