<div id="{{ div_id }}" class="stock-information">
    {% if goal_amount %}
        <div class="content-block-card stock-information-card text-center">
            <div class="content-block-card-heading">
                <h5>{{ _("Progress") }}</h5>
            </div>
            <div class="content-block-card-content">
                <span class="amount">$ {{ goal_progress_amount }}</span>
            </div>
        </div>
        <div class="content-block-card stock-information-card text-center">
            <div class="content-block-card-heading">
                <h5>{{ _("Percentage Complete") }}</h5>
            </div>
            <div class="content-block-card-content">
                <span class="amount">{{ goal_progress_percentage }}%</span>
            </div>
        </div>
        <div class="content-block-card stock-information-card text-center">
            <div class="content-block-card-heading">
                <h5>{{ _("Goal") }}</h5>
            </div>
            <div class="content-block-card-content">
                <span class="amount">$ {{ goal_amount }}</span>
            </div>
        </div>

    {% else %}
        {% trans %}No goal information available.{% endtrans %}
    {% endif %}
</div>
