{%- import "givesome/macros.jinja" as givesome_macros with context -%}
{% if featured_videos %}
    {% if title %}
        <div class="title-bar light"><h2>{{ title }}</h2></div>
    {% endif %}
    <div class="owl-loading-indicator">
        <i class="fa fa-spin fa-spinner text-muted fa-2x"></i>
    </div>

    <div class="video-carousel owl-carousel" style="margin-top:40px">
        {% for video in featured_videos %}
            {{ givesome_macros.render_video_box(video) }}
        {% endfor %}
    </div>
{% endif %}
